export REBRICKABLE_API_KEY="your_key_here"
export BL_CONSUMER_KEY="no"
export BL_CONSUMER_SECRET="no"
export BL_TOKEN_VALUE="no"
export BL_TOKEN_SECRET="no"
export PARTS_JSON_PATH="./parts.json"
export PROFILES_DIR="./profiles"
export PORT="8001"

export PARTS_DB_PATH="./parts.db"
export BRICKSTORE_DB_PATH="~/Library/Caches/BrickStore/database-v12"
export BL_AFFILIATE_API_KEY=""


